$bold: 600;

.reservate {
  h1 {
    // font-family: "Bellefair", serif;
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0em;
    font-size: 3.1vw;
    color: #fff;
    margin-bottom: 2vw;
    text-align: center;
  }

  .reservate-form {
    text-align: center;
    align-items: center;
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 0px;
    margin-left: -260px;

    #subject {
      width: 50%;
      height: 2vw;
    }

    #email {
      width: 50%;
      height: 2vw;
    }

    #des_res {
      width: 50%;
      height: 2vw;
    }

    #comment {
      width: 50%;
      height: 4vw;
    }

    .button-form {
      position: relative;

      .button-send {
        align-items: center;
        text-align: center;
        right: 30%;
        width: 150px;
        height: 5px;
        background-color: #fff;
        padding: 2em;
        cursor: pointer;
        transition: 0.5s;
        font-family: "Bellefair", serif;
        font-size: 15px;
        font-weight: $bold;
        text-transform: uppercase;
        font-family: "Barlow Condensed", sans-serif;
        margin: 0;

        &:hover {
          transform: scale(1.25);
          box-shadow: 0px 0px 15px rgb(255, 255, 255);
        }
      }
    }

  }
}

//Tablet 
@media (max-width: 768px) {
  h1 {
    // font-family: "Bellefair", serif;
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0em;
    font-size: 3vw;
    color: #fff;
    margin-bottom: 2vw;
    text-align: center;
  }

  .reservate-form {
    text-align: center;
    align-items: center;
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    height: 190px;
    float: left;
    left: 50%;
    // position: absolute;
    margin-top: 0px;

    .form {
      .subject-p {
        margin-top: -10px;
        #subject {
          width: 50%;
          height: 3vw;
        }
      }
  
      .email-p {
        #email {
          width: 50%;
          height: 3vw;
        }
      }
      
      .des_res-p {
        #des_res {
          width: 50%;
          height: 3vw;
        }
      }
      
      .comment-p {
        #comment {
          width: 50%;
          height: 6vw;
        }
      }
      
  
      .button-form {
        position: relative;
        .button-send {
          align-items: center;
          text-align: center;
          right: 30%;
          width: 150px;
          height: 50px;
          background-color: #fff;
          padding: 1em;
          cursor: pointer;
          transition: 0.5s;
          font-family: "Bellefair", serif;
          font-size: 15px;
          font-weight: $bold;
          text-transform: uppercase;
          font-family: "Barlow Condensed", sans-serif;
          margin: 0;
  
          &:hover {
            transform: scale(1.25);
            box-shadow: 0px 0px 15px rgb(255, 255, 255);
          }
        }
      }
    }

    

  }
}

//phone 
@media (max-width: 450px) {
  .title {
    h1 {
      // width: 80%;
      // font-family: "Bellefair", serif;
      font-family: "Barlow", sans-serif;
      margin: 0;
      padding: 0em;
      font-size: 8vw;
      color: #fff;
      // margin-bottom: 2vw;
      // text-align: center;
    }
  }


  .reservate-form {
    text-align: center;
    align-items: center;
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 50%;
    height: 300px;
    margin-top: 0px;
    margin-left: 20px;

    .form {
      .subject-p {
        #subject {
          width: 50%;
          height: 8vw;
        }
      }
  
      .email-p {
        #email {
          width: 50%;
          height: 8vw;
        }
  
      }
  
      .des_res-p {
        #des_res {
          width: 50%;
          height: 8vw;
        }
      }
  
      .comment-p {
        #comment {
          width: 50%;
          height: 20vw;
        }
      }
  
      .button-form {
        position: relative;
        .button-send {
          align-items: center;
          text-align: center;
          right: 30%;
          width: 35%;
          height: 5%;
          background-color: #fff;
          padding: 2em;
          transition: 0.5s;
          font-family: "Bellefair", serif;
          font-size: 4vw;
          font-weight: $bold;
          text-transform: uppercase;
          font-family: "Barlow Condensed", sans-serif;
          margin: 0;
  
          &:hover {
            transform: scale(1.25);
            box-shadow: 0px 0px 15px rgb(255, 255, 255);
          }
        }
      }
    }

    

  }
}